@charset "utf-8";
/* CSS Document */

*{ font:100% font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif; }
img {-ms-interpolation-mode:bicubic; border:none;}
button {cursor:pointer;_cursor:hand;}
button {overflow:visible;}
abbr[title],acronym[title] {border-bottom:1px dotted;cursor:help;}
input[type=hidden] {display:none!important;}
a {text-decoration:none; color:#333;}
a:hover {text-decoration:none;}
.fix {zoom:1;}
.fix:after {content:"";visibility:hidden;display:block;height:0;clear:both;}
a,button,input,select{-webkit-tap-highlight-color:rgba(255,0,0,0);}
input,textarea,select,button {outline:none;}

body,h1,h2,h3,h4,h5,h6,p,div,input,form,dl,dt,dd,ul,ol,li { margin:0px; padding:0px;}
ul,ol,li { list-style:none;}
body {background:url(../img/bg.png) repeat;}
.fc_323{ color:#323232}
.f_l { float:left;}
.f_r { float:right;}
/*.ww{ width:480px; margin:0px auto;}*/
.w640 { width:100%; margin:0px auto;}
.head { border-radius:8px 8px 0 0; border-top:1px solid #5dd555; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #50c347), color-stop(1, #369d32)); padding-bottom:4px;}
h2 { font-size:20px; color:#fff; text-align:center; margin:5px auto; text-shadow:1px 1px 2px #006900;}
.input {font-size:14px; color:#fff; margin-top:4px;outline:none; background:none; border:none; height:28px; line-height:28px; }

.search { width:95%; margin:5px auto 0px; border-radius:8px; border:none; height:35px;background:url(../images/bg_search.png) repeat-x; overflow:hidden; }
.search label { display:inline-block; float:left;}

.style_select { background:#dedede url(../img/select_icon1.png) no-repeat 95% 11px;border-radius:5px; overflow:hidden; height:28px;margin:4px 8px auto 4px; }
.city { background: transparent;/* outline:none;text-align:center;*/  padding:3px 10px 1px 3px;height:26px; border:none;font-size:12px;cursor:pointer; -webkit-appearance: none;}

.btn_go { background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #edc749), color-stop(1, #e6b03d)); border-radius:8px; border:1px solid #efe69e; padding:2px 8px; height:28px; margin:4px 4px 4px 5px; font-size:12px; overflow:hidden; color:#5f4b20;}

.select_btn { width:97%; margin:0px auto; padding:15px 0 60px;}
.select_btn li { width:100%; overflow:hidden; }
.select_btn li a { display:block; float:left; margin:11px 1%;/*margin:12px 9px;padding:0px 15px;*/border-radius:8px; background:#f3f3f3; height:40px;  line-height:40px; font-size:16px; text-align:center;}
.select_btn .thbtn a { width:31%;}
.select_btn .twbtn a { width:47.5%;}
.select_btn .fobtn a{ width:22.8%}
/*班级列表*/
.class { background:#f9f8f8;border-bottom:5px solid #DCDBDB; margin-bottom:8px;}
.class_rec { width:90%; margin:0 auto; padding:6px 0 3px 0;}
.name { display:block; text-align:center; font-size:14px; margin-bottom:6.5px;}
.course { color:#969696; font-size:12px; margin:5px auto;}
.course strong {/*width:21%;*/ float:left; display:inline-block; font-weight:normal;}
.course span { display:inline-block; float:left; width:79%;}
.price { margin:20px auto 10px;}
span.btn { border-radius:20px; font-size:14px;padding:5px 12px; margin:2px 6.5px;}
.btn font { color:#fff;}
.total { background:#ffd8b9;  color:#ff7000; }
.num { background:#c4f4c1; color:#4caf47}
.class_list { width:96%; margin:8px auto; background:#efefef;border-radius:8px;}
.list_c { width:95%; margin:0px auto; padding:12px 0 6px;}
.list_c .c_num_name { font-size:14px; vertical-align:bottom; padding-top:5px;}
.course dt {width:85%; line-height:1.5em;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.course dd {width:15%;}
.course dd a { display:block; }
.course dd a.arrow {font-size:30px; color:#aaa;text-align:right;}


/*班级详情*/
.XX_course {border-radius:8px 8px 0px 0px; background:#fff;-webkit-box-shadow:0 0px 2px 0px #d4d4d4;box-shadow:0 0px 2px 0px #d4d4d4; padding-top:10px; padding-bottom:10px;}
/*.XX_course img.ico_cn { vertical-align:middle; padding:0px 10px; float:left; width:36px; display:inline-block;}*/
.XX_course .ce_name { font-size:15px; color:#323232; display:inline-block; background:url(../img/ico_c.png) no-repeat; height:36px; padding-left:45px; margin:0px 10px;}
.pjc { padding-bottom:5px;}
.pj { width:92%; margin:0px  auto; padding-bottom:5px;border-bottom:1px dashed #BCBCBC;}
.course_name { width:78%; margin:15px auto 10px auto; }
.course_name dt { font-size:14px; color:#676767; padding-top:5px; font-weight:200; text-align:left;}
.course_name dd { font-size:14px; color:#fc6208;border-radius:20px; border:1px solid #E3E3E5; padding:5px 12px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f7fb), color-stop(1, #dcdddf)); }
.btn_bmmap { width:90%; margin:15px auto;}
.btn_bmmap a { display:block; float:left; color:#fff; font-size:16px; margin:0px 11px;}
.btn_bm { border-radius:5px;border:1px solid #d86802; padding:10px 20px;background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffa421), color-stop(1, #e6740f));  }
.btn_map { border-radius:5px;border:1px solid #1787c1; padding:10px 20px;background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #77c8ef), color-stop(1, #178dd0));  }

.class_details { width:96%; margin:10px auto; position:relative;}
.title { color:#fff; font-size:15px; border-radius:5px 5px 0 0; background:#4bbb43; padding:7px 3px; width:22%; text-align:center; z-index:1px;}
.content_details { background:#f8f8f8;border-radius:8px; width:100%; position:absolute; z-index:2; top:89%; padding-bottom:20px;}
.cdlist{width:92%; margin:0px auto; padding-top:15px;}
.content_details dt { width:22%; color:#323232; font-size:14px; text-align:right; line-height:1.4em;}
.content_details dd { width:76%;text-align:left; font-size:13px; color:#676767;line-height:1.4em;}




/*结果页*/
.class_listjs {background:#f9f8f8;border-bottom:2px solid #DCDBDB; margin:10px auto;border-radius:8px; }
.class_listjs .cd { width:92%; margin:0 auto;position:relative;}
.class_listjs .cd dt { width:90%;  padding:8px 0 3px 0;}
.class_listjs .cd dt .name { text-align:left;}
.class_listjs .cd dt .course span { float:left; width:77%;}
.class_listjs .cd dd { width:10%;}
.class_listjs .arrow { position:absolute; top:25%; right:0px; font-size:30px; color:#aaa; float:right; text-align:right;}


/*区列表*/
.area li { background:#f4f4f4; box-shadow:0 0 4px 1px #dfdfdf; border-bottom:1px solid dadada; padding:1em;white-space:nowrap; font-size:14px; position:relative; }
.area li h6 { font-size:17px;color:#636363; float:left;}
.area li h6  span { font-size:12px; color:#acacac; padding-left:5px;}
.area li .arrow { /*float:right;*/ font-size:30px; color:#aaa; /*font-weight:100;*/ position:absolute; top:14%; right:8px;}

/*微信宣传*/
.logo { background:#fff; height:3.2em;padding-top:0.5em;}
.logo a { margin:0 3em; display:block; background:url(../images/logo.png) no-repeat; -webkit-background-size:80% auto; -o-background-size:80% auto;height:65px;}
.xc_p { background:#f4f4f4;}
.xc_p p img,.xc_p p a img { display:block; width:100%;}
.xc_p p.down { margin:0 auto; width:87%;}
.xc_p p a { display:block; float:left; width:43%; margin:0.7em 0.5em 1.5em;}
.line_colors { height:5px; overflow:hidden;}
.line_colors span { display:block; height:5px; overflow:hidden; float:left;}


/*登录*/
.login_tab { width:93%; margin:0em auto 0.3em; /*padding-top:1em;*/}
.login_tab p { margin:1.7em auto; }
.login_tab p label {font-size:18px!important; color:#323232!important;}
.login_i { display:inline-block; height:40px; width:72%; padding-left:5%; border:1px solid #bebdbd; border-radius:8px;-moz-box-shadow:1px 2px 4px rgba(0, 0, 0, 0.44);-webkit-box-shadow:1px 2px 4px rgba(0, 0, 0, 0.44);box-shadow:1px 2px 4px rgba(0, 0, 0, 0.44); color:#807f7f; font-size:14px;}
.btn_login { background:url(../images/btn_login.png) no-repeat; background-size:88% auto; width:182px; height:55px; border:none; cursor:pointer;}

/*未完成订单*/
.total_pay { color:#ff3c00; font-size:16px; text-align:center; display:block;padding-top:0.2em; display:block; border-top:1px dotted #BCBCBC; padding-top:10px; margin-top:10px;}
.total_pay font { color:#3b3a3a;}
.orders { margin-top:0!important;}
.orders dt { line-height:1.6em!important;}















